autogen
gradio
scikit-learn
docx
mammoth
llama-index-core
llama-index-llms-anthropic
llama-index-llms-bedrock
llama-index-llms-ollama
llama-index-llms-openai
llama-index-embeddings-azure-openai
llama-index-embeddings-bedrock
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-packs-searchain
llama-index-readers-file
llama-index-readers-docugami
llama-index-readers-gcs
llama-index-readers-obsidian
llama-index-readers-web
llama-index-indices-managed-llama-cloud
llama-index-vector-stores-chroma
llama-index-vector-stores-milvus
llama-index-vector-stores-redis
llama-index-storage-kvstore-postgres
llama-index-cli
llama-index-agent-openai
llama-index-question-gen-openai
llama-index-program-openai
uvicorn
python-docx
transformers==4.45.1
